<% provide(:title, "Feeds") %>

<div id="feeds">
  <%= turbo_frame_tag "feeds_paginate" do %>
    <% @feeds.each do |feed| %>
      <%= render feed %>
      <hr/>
    <% end %>
    <%= render "shared/pagination" %>
  <% end %>
</div>
