<% provide(:title, @feed.name) %>

<div id="feeds">
  <% if @posts.length != 0 %>
    <%= turbo_frame_tag "feed_paginate" do %>
      <% @posts.each do |post| %>
        <%= render 'posts/post_preview', post: post %>
        <hr/>
      <% end %>
      <%= render "shared/pagination" %>
    <% end %>
  <% else %>
    <h1>No posts</h1>
  <% end %>
</div>