<div class="col mx-5 my-5 post">
      <%= link_to post, data: { turbo_frame: "_top" } do %>
        <h1><%= post.title %></h1>
      <% end %>
    
    <p class="text-muted">
      <%= link_to "#{time_ago_in_words(post.created_at).upcase} AGO", post, class: "me-2", data: { turbo_frame: "_top" } %>
    </p>
    
    <p>
      <%= post.body %>
    </p>
</div>

