<% provide(:title, "Posts") %>

<div id="posts">
  <%= turbo_frame_tag "posts_paginate" do %>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <%= render 'post_preview', post: post %>
        <hr/>
      <% end %>
      <%= render "shared/pagination" %>
    <% else %>
      <h4>No results found</h4>
    <% end %>
  <% end %>
</div>
